.card {
  min-width: 0;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.image {
  &:hover {
    & .card {
      min-width: 100%;
      width: auto;
      height: auto;
      opacity: 1;
      visibility: visible;
      transition: all 0.3s ease;
    }
  }
}
